@media only screen and (min-width: 64em) {
	@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat');
    body {
        font-size: 1em;
        margin: auto;
    }
    #banner, #butte {
        width: 100%;
      }
    
    #index1 {
        width: 100%;
    }
    
    #index2 {
        margin: auto;
    }
    
    .topnav {
        float: right;
        margin-top: -75px;
    }
    
    #form {
        margin-left: 15px;
        margin: auto;
    }
    
    