@media only screen and (min-width: 800px) {

    .container {
        width: 500px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }
    
    .submitBtn {
        border-radius: 4px;
        color: #8AB633;
        text-align: center;
        font-size: 28px;
        width: 200px;
        margin: 5px;
        background: rgb(123,7,175); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, rgba(123,7,175,1) 0%, rgba(83,0,119,1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(123,7,175,1) 0%,rgba(83,0,119,1) 100%);
        background: radial-gradient(ellipse at center, rgba(123,7,175,1) 0%,rgba(83,0,119,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b07af', endColorstr='#530077',GradientType=1 );
    }