
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat');

body {
    font-size: .5em;
    
    
}

/* Navigation */

.topnav {
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    
}

/*Body*/
main, header, footer {
    max-width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

header {
    margin: 5px 5px;
    
}

/* BODY */
#index1 {
    margin: 10px 5px;
    color: darkgreen;
    font-family: 'Montserrat', sans-serif;
}

#banner {
    width: 350px;
}
#logo {
    width: 60px;
}

#index2 {
    text-align: center;
    font-family: 'EB Garamond', serif;
}

/*#index {
    width: 600px;
    margin-top: 35px;
    float: left;
    border-radius: 7px;
    left: 25%;
}*/


main {
    /*margin-left: 10px;
    padding-left: 5px;*/
}

/*main img {
    margin-left: -100px;
}*/

main h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

main p {
    font-family: 'EB Garamond', serif;
}

label {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

footer{
    text-align: center;
	margin: 400px;
}

#tour1 {
    margin-top: 52px;
}

#tour2 {
    margin-top: 55px;
}

/* EVENTS PAGE */

#backwoods {
    width: 300px;
    float: right;
    margin-right: 25px;
}
#trestle {
    width: 300px;
    float: left;
    margin-left: -40px;
}

#butte {
    width: 50%;
    float: left;
    margin-top: 55px;
}

section h2 {
 font-family: 'Montserrat', sans-serif;
    text-align: left;
}

/* SALES PAGE*/

.sales {
	position: relative;
	left: 0px;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	text-shadow:0px 0px 1px rgba(0,0,0,0.2);
	list-style: none;
	top: 70px;
	height: 97px;
}

.sales > li {
	position: relative;
	background: rgba(0,0,0,0.2);
	width: 150px;
	height: 10px;
	padding: 20px;
	margin-top: 2px;
	left: -188px;
	border-right: 50px solid red;
    -webkit-transition: left 500ms;
    -moz-transition: left 500ms;
    -ms-transition: left 500ms;
    -o-transition: left 500ms;
    transition: left 500ms;
}


li.openSesame {
	left:0px;
}

#event {
    margin: 320px 300px;
    text-align: center;
}
section span {
    font-weight: bold;
}

p span {
    font-weight: bold;
}

p img {
    width: 125px;
}

button {
    margin-left: 10px;
}

form {margin-top: -325px;}

.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}

.submitBtn {
    border-radius: 4px;
    color: #8AB633;
    text-align: center;
    font-size: 28px;
    width: 200px;
    margin: 5px;
    background: rgb(123,7,175); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(123,7,175,1) 0%, rgba(83,0,119,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(123,7,175,1) 0%,rgba(83,0,119,1) 100%);
    background: radial-gradient(ellipse at center, rgba(123,7,175,1) 0%,rgba(83,0,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b07af', endColorstr='#530077',GradientType=1 );
}

#area {
    height: 500px;
}

/* TOURS */

#backwoods {
    float: left;
    margin: 35px;
    width: 50%;
}

#backwoods img {
    margin-left: -40px;
    width: 300px;
}

#trestle {
    float: left;
    margin-top: -36px;
    margin-left: 35px;
    width: 50%;
}

#trestle img {
    height: 300px;
}
#form {
        margin-left: 15px;
        margin: auto;
    }