html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

/*body {
  width: 800px;
  margin: 0 auto;
}*/

h1, h2 {
  /*font-family: 'Faster One', cursive;*/
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

/*header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}*/

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    background-color: #aa0000;
    font-family: Verdana, sans-serif;
    margin-left: 0px;
    margin-top: -10px;
    /*width: 1200px;*/
    
}

nav ul {
    list-style-type: none;
    padding-left: 201px;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.8);
}

.active {
    background-color: rgba(0, 0, 0, 0.4);
}

li a:hover {
    background=color: rgba(0,0,0,0.5);
}

nav ul.hide{display: none;}

body {
    flex-direction: row;
}
