@media only screen and (max-width: 320px) {
    
    header {
     text-align: right;   
    }
    
    
    article {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 30px;
    }
    
    
}
