@media only screen and (max-width: 480px) and (min-width: 300px) {
    
    nav {
     text-align: right;   
    }
    
    
    article {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 30px;
    }
    
    
}
