@media only screen and (min-width: 64em) {

    bpdu {width: 1275px;}
    
    img:hover {
        box-shadow: 5px 5px #5f0d0a;
    }
    
    header h1, h2 {
        margin-left: 210px;
        margin-top: -75px;
    }
    
    header h2 {
        margin-top: -22px;
    }
    
    header img {
        height: 65px;
    }
    nav {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#900090+0,5e3784+100 */
        background: #900090; /* Old browsers */
        background: -moz-linear-gradient(top, #900090 0%, #5e3784 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #900090 0%,#5e3784 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #900090 0%,#5e3784 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#900090', endColorstr='#5e3784',GradientType=0 ); /* IE6-9 */
        margin-top: 5px;
     
    }
    
    nav button {
        display: none;
    }
    
    nav ul.hide{
        display: block;
    }
    
    nav ul {
        margin-left: 2%;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    
    nav ul li a:hover {
        background: linear-gradient(to right, green , #3eac40);
    }
    
    #hero {
        margin: 0px -5px;
        width: 1275px;
    }
        
    #page {
        margin: 10px;
        float: left;
        width: 400px;
    }
    
    #gallery figure {
        display: block;
    }
    
    #gallery figure img {
        height: 200px;
    }
    
    #acme thead {background-color: gray;}
    #acme tbody {background-color: lightgray;}
    
    
    .active {
        background: linear-gradient(to right, #f28f30 , #ff4500);
    }
    
    .contact{float: left; padding-left: 3px;}
    #copy {float: right;}
    #date {margin-top: 45px;}
    #myphoto {
        display: block;
    }
    
    main figure {
        display: flex;
        
    }
    
    main {
        border-width: 1px;;
    }
    
        main figure {
        margin-top: -75px;
        margin-left: 0px;
    }
    
    .icon {
        float: right;
        margin-top: 30px;
    }
    
    #sunny {border-radius: 10px;}
    
    /*#gallery figure img {
        height: 200px;
    }*/
    
    .today {
        float: left;
        margin-top: 125px;
        margin-left: -430px;
    }
    
    
    #current {
        margin-left: 10px;
        width: 300px;
    }
    
    #currently {
        list-style-type: none;
    }
    
    .table {
        float: left;
        margin-top: 250px;
        margin-left: -400px;
    }
    
    
    .history {
        margin-top: 400px;
        margin-left: -16px;
        display: flex;
        flex-wrap: nowrap;
        
    }
    
    #this {width: 400px;}
    #paragraph {width: 400px; margin-left: -400px; margin-top: -50px;}
    
    #tupo {margin-top: -50px;}
    #jet { border-radius: 10px;}
    
    div {
        /*border-width: 1px;
        border-style: solid;*/
        color: #000
    }
    
    .contact {
        display: flex;
        flex-direction: row;
        padding-top: 5px;
    }
    
    #windchill {
        display: flex;
        flex-direction: row;
    }
}


    
    