/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  ____________  /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: ______; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {}
header h1 {}
header img {}
header .subheading {}
nav {
    list-style-type: none;
    margin: 53px 0 0 0 0;
    padding: 0;
    text-decoration: none;
}
nav button {}
nav ul {}
nav ul li {display: inline;}
nav ul li a {text-decoration: none;}
nav ul li.active a {}
nav ul li a:hover {color: #000000;}
li {text-decoration: none;}
main {}
main h2 {}
main figure {}
main figure img {}
main figure {}

footer {}

.forecast {
    display: none;
}

img:hover {
            box-shadow: 5px 5px 10px #5f0d0a;
        }