{ box-sizing: flex;}

body {
    font-size: 16px;
    font-family: 'Song Myung', serif;
}

header, nav, main, footer {
    max-width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

header {
    margin-top: 5px;
}

header h1 {
    margin-top: -45px;
    margin-left: 272px;
}

header img:hover {
    cursor: none;
}

header p {
    margin-top: -22px;
    margin-left: 275px;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    background-color: #aa0000;
    font-family: Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.8);
}

.active {
    background-color: rgba(0, 0, 0, 0.4);
}

li a:hover {
    background=color: rgba(0,0,0,0.5);
}

nav ul.hide{display: none;}

.clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

main {}

main h2 {}

main figure {
    display: none;
}

main figure img {}

footer {
    background-color: #333;
    color: #ffffff;
}

section.forecast {
        display: none;
    }
/*----------- Form --------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend, div {
    color: #5f0d0a;
    margin: 0 1rem;
    padding: 0 .5rem;
}


form label.top {
    display: block;
    padding=top: 1rem;
    color: #9c2c13;
    *font=size: .8rem;
}

form input {
    background-color: lemonchiffon;
}

form label.top input, label.top select {
    display: inline-block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 29rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75 rem 1.5 rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

textarea {
    width: 100%;
}

.clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

#date {
    color: #fff;
    display: block;
}

 #gallery figure {
        display: block;
    }
    
    #gallery figure img {
        height: 200px;
        
    }