@import url('https://fonts.googleapis.com/css?familyLibre+Baskerville');



body{
    font-family: 'Libre Baskerville', serif;
    background-color: #000066;
}

h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
	font-family: 'Arial Black, Arial Bold, Gadget', sans-serif;
}

/* header */

header img {
    position: flex;
    margin-top: 30px;
    margin-left: 525px;
    margin-right: auto;
}

header h1 {
    text-align: center;
}

/* Hero */

#hero {
    position: flex;
    margin-top: -120px;
    background-image: url("../images/banner.jpg");
    height: 126px;
    background-color: #999999;
    border-top: 8px solid #cc0000;
}

/* navigtion */

nav {
    text-align: center;
    border-top: solid #000;
    border-bottom: solid #000;
    height: 45px;
}

nav ul {
    width: 1000px;
	height: 200px;
    list-style-type: none;
    margin-left: 100px;
}

nav li {
    font-family: 'Arial Black, Arial Bold, Gadget', sans-serif;
    font-weight: bold;
    display: inline;
}



nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:visited {
    color: rgba(242,204,15,1);
}

/* main */

main {
    background-color: #999999;
    border: 2px solid #cc9900;
}

figure {
    float: left;
    background-color: #cc9900;
}

figure img {
    width: 185px;
    height: 292px;
    padding: 15px;
}

figcaption {
    text-align: center;
    color: rgb(247,255,177);
    font-family: 'Arial Black, Arial Bold, Gadget', sans-serif;
    font-weight: bold;
}

blockquote {
    margin-top: 400px;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    color: #000066;
}

i {
    color: #cc0000;
}

/* footer */

footer {
    text-align: center;
    color: rgb(242,204,15);
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Arial Black, Arial Bold, Gadget', sans-serif;
}
