@media only screen and (min-width: 800px) {
    
    #thelma {
        color: #000;
        margin: auto;
        font-size: 1em;
        background-color: pink;
        background-image: url('../images/marble.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
    
    #john {
        color: #fff;
        margin: auto;
        font-size: 1em;
        background-color: #ffd1c3;
        background-image: url('../images/john.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #sena {
        color: #fff;
        margin: auto;
        font-size: 1em;
        background-color: #ffd1c3;
        background-image: url('../images/denmark.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #myTopnav {
        /*margin-top: -25px;*/
        text-align: center;
    }
    
    .cursive {
        font-size: 72px;
    }

    .top {
        position: fixed;
        margin: 100px 0 0 40px;
        width: 55px;
        text-align: center;
    }
    
    .img01 {
        height: 300px;
        padding-right: 10px;
        float: left;
    }
    
    .img02 {
        height: 300px;
        padding-left: 10px;
        float: right
    }
    
    div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        color: #000;
        margin: auto;
        text-align: justify;
        
    }
    
    .container {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        color: #555;
        margin: auto;
        text-align: justify;
    }
    
    #checkbox {
        opacity: 0;
    }
    
    #menuToggle {
        text-align: center;
    }
    
    ul li {
        display: inline;
    }
    
    a {
        text-decoration: none;
        color: #000066;
        padding-left: 5px;
        text-align: center;
    }
    
    nav a {
        font-size: 29px;
    }
    
    a:hover {
        color: #cc9900;
        
    }
    
    .active {
        color: #cc0000;
        background-color: rgba(153,153,153,0.5);
        padding: 0 10px 0 10px;
        border-radius: 200px;
    }
    
    #footer {
        text-align: center;
    }
    
    ol {
        list-style-position: inside;
    }
    
    /* HISTORIES MAIN */
    
    #history {
        background-color: #fff;
    }
    
    .history {
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .box {
        border-left: 1px dotted #cc0000;
        border-bottom: 1px dotted #cc0000;
        border-top: 0;
        border-right: 0;
        border-bottom-left-radius: 10px;
        margin-left: 67px;
        margin-top: -145px;
        height: 300px;
        padding-left: 5px;
        width: 500px;
        text-align: left;
    }
    
    #who {
        /* Safari */ -webkit-transform: rotate(-90deg);
        /* Firefox */ -moz-transform: rotate(-90deg);
        /* IE */ -ms-transform: rotate(-90deg);
        /* Opera */ -o-transform: rotate(-90deg);
        /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        background-color: #cc0000;
        color: #fff;
        height: 30px;
        width: 103px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: 0;
        margin-top: 150px;
        padding-bottom: 3px;
    }
    
    #where {
        /* Safari */ -webkit-transform: rotate(-90deg);
        /* Firefox */ -moz-transform: rotate(-90deg);
        /* IE */ -ms-transform: rotate(-90deg);
        /* Opera */ -o-transform: rotate(-90deg);
        /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        background-color: #cc0000;
        color: #fff;
        height: 30px;
        width: 103px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: 0;
        margin-top: 150px;
        padding-bottom: 3px;
    }
    
    section a:hover {
        color: #cc9900;
        text-decoration: underline;
    }
