body {
    @import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|PT+Serif');
    overflow-x: hidden;
}

body,html {
    width: 100%;
}

header {
    background-color: yellow;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color:  #000;
    margin: 20px 0 0 -8px;
    /*width: 1280px;*/
}

#logo {
    float: left;
    position: absolute;
    margin-top: -49px;
    margin-left: -140px;
    width: 160px;
}

#title {
    margin-top: 50px;
    margin-left: 250px;
    width: 500px;
}

#musk {
    float: left;
    height: 200px;
    position: relative;
    margin-left: 50px;
    border-right: 1px solid #000;
    background-color: green;
}

#cca {
    float: right;
    height: 67px;
    margin-top: -55px;
    margin-right: 15px;
}

/* navigation */

nav {
    margin-left: 150px;
    height: 30px;
}

nav ul li {
    display: inline;
    padding-left: 10px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #cc0000;
    font-family: 'Allerta Stencil', sans-serif;
}

nav ul li a:hover {
    color: yellow;
    background-color: blue;
    padding: 17px 5px 13px 5px;
}

.active {
    color: yellow;
    background-color: #cc0000;
    padding: 17px 5px 13px 5px;
    font-weight: bolder;
}

/* BODY */

main {
    font-family: 'PT Serif', serif;
    margin-left: -8px;
    height: 960px;
    background-image: url("../images/chair.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    
}

.skew {
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg); /* Standard syntax */
    margin-left: 10px;
    background-color: #999;
}

/* FOOTER */

footer {
    background-color: #999;
    padding: 5px; 0 5px 0;
    margin-top: 0;
    margin-left: -8px;
    text-align: center;
}
