@media only screen and (min-width: 750px) {
    
    #thelma {
        color: #000;
        margin: auto;
        font-size: 1em;
        background-color: pink;
        background-image: url('../images/marble.jpg');
        background-attachment: fixed;
        background-size: 100%;
    }
    
    #john {
        color: #fff;
        margin: auto;
        font-size: 1em;
        background-color: #ffd1c3;
        background-image: url('../images/john.jpg');
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    #myTopnav {
        /*margin-top: -25px;*/
        text-align: center;
    }

    .top {display: none]
    }
    
    .img01 {
        height: 300px;
        padding-right: 10px;
        float: left;
    }
    
    .img02 {
        height: 300px;
        padding-left: 10px;
        float: right
    }
    
    div {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        color: #000;
        margin: auto;
    }
    
    #checkbox {
        opacity: 0;
    }
    
    #menuToggle {
        text-align: center;
    }
    
    ul li {
        display: inline;
    }
    
    a {
        text-decoration: none;
        color: #000066;
        font-size: 25px;
        padding-left: 5px;
        text-align: center;
    }
    
    a:hover {
        color: #cc9900;
        text-shadow: 2px 2px 4px #000, 0 0 50px #999, 0 0 10px #cc0000;
    }
    
    h1 {
        text-align: center;
    }
    
    .active {
        color: #cc0000;
        text-shadow: 2px 2px 4px #000, 0 0 50px #999, 0 0 10px #cc9900;
    }
    
    .container {
        text-align: justify;
    }
    
    #footer {
        text-align: center;
    }
    
    i {
        font-style: normal;
    }
