@media only screen and (min-width: 800px) {
    
    .topnav {
        overflow: hidden;
        background-color: #000066;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #999;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .active {
        background-color: #cc0000;
        color: #000066;
    }
    
    .topnav .icon {
        display: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
        }

    .dropdown .dropbtn {
        font-size: 17px;    
          border: none;
          outline: none;
          color: white;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit;
          margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #000;
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #cc9900;
        color: white;
    }

    .dropdown-content a:hover {
          background-color: #999;
          color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }