@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Charm|IBM+Plex+Serif');
        
body {
    font-family: 'IBM Plex Serif', serif;
}

.cursive {
        font-family: 'Charm', cursive;
        text-shadow: 5px 5px 5px #5f0d0a;
        text-align: center;
        
}

h1 {
        font-size: 72px;
}
a {
    font-family: 'Black Han Sans', sans-serif;
    font-variant: small-caps;
}
