@media only screen and (min-width: 64em) {
    
    img:hover {
        box-shadow: 5px 10px #5f0d0a;
    }
    
    .forecast {
        display: inline;
    }
    
     nav {
        background: #ff3232; /* Old browsers */
        background: -moz-linear-gradient(top, #ff3232 0%, #aa0000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff3232 0%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff3232 0%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
    }
    
    nav button {
        display: none;
    }
    
    nav ul.hide{
        display: block;
    }
    
    nav ul {
        margin-left: 2%;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
}
    
    